<div class="courses-list">
  <app-courses-filter-panel (filtersChanged)="onFiltersChanged($event)"></app-courses-filter-panel>

  <ng-container *ngIf="coursesData">
    <table class="table courses-table">
      <thead>
      <tr>
        <th scope="col">IВ</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let course of coursesData">
        <th scope="row">{{course.id}}</th>
        <td><img class="course-img" [src]='course.imageUrl' alt=""></td>
        <td><a [routerLink]="['/course-details/' + course.id]">{{course.name}}</a></td>
        <td><div class="course-status">{{course.status}}</div></td>
      </tr>
      </tbody>
    </table>
  </ng-container>
</div>
